@using DeviceMate.Web.Models
@using DeviceMate.Models.Entities
@model AccessoryModel
@{
    ViewBag.Title = "Search accessory";
}

@Html.Partial("_Navigation", @Model.UserName)

@section scripts {
    @Scripts.Render("~/Scripts/Common/Grid.js")
    @*@Scripts.Render("~/Scripts/Common/GridAjax.js")*@
    @Scripts.Render("~/Scripts/Accessory/AccessorySearch.js")
    @Scripts.Render("~/Scripts/Common/Notifications.js")
    @Scripts.Render("~/Scripts/Employees/EmployeesPresenter.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.min.js")
    @Scripts.Render("~/Scripts/jquery.multiselect.min.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.js")
}

<div class="container-fluid" id="main-part">
    <div class="hero-unit">
        @Html.Partial("_SuccessNotification")
        <h2>Search accessory</h2>
        <div class="well">
            @using (Html.BeginForm("Search", "Accessory", FormMethod.Post, new { enctype = "multipart/form-data", id = "formDevice" }))
            {
                @Html.HiddenFor(m => m.Pager.Page)
                @Html.HiddenFor(m => m.Pager.PageSize)
                @Html.HiddenFor(m => m.Sorter.Column)
                @Html.HiddenFor(m => m.Sorter.Direction)
                @Html.HiddenFor(m => m.Sorter.Expression)
                @Html.HiddenFor(m => m.ColumnSelector.UserGridColumnsIdsSer)
                <div class="row-fluid">
                    <fieldset class="span3">
                        <label>Accessory Number</label>
                        @Html.TextBoxFor(m => m.SearchModel.Number)
                    </fieldset>
                    <fieldset class="span3">
                        <label>Holder name or email</label>
                        @Html.TextBoxFor(m => m.SearchModel.Email)
                    </fieldset>   
                    @if (Model.IsAdmin)
                    {
                        <fieldset class="span3">
                            <label>Additional Info</label>
                            @Html.TextBoxFor(m => m.SearchModel.SerialNumber)
                        </fieldset>   
                    }                 
                </div>
                <div class="row-fluid">
                    <fieldset class="span3">
                        <label>Accessory types</label>
                        @Html.DropDownListFor(m => m.SearchModel.TypeId, Model.AccessoryTypes, new { @size = 5 })                       
                    </fieldset>
                    <fieldset class="span3">
                        <label>Accessory Descriptions</label>
                        @Html.DropDownListFor(m => m.SearchModel.DescriptionId, Model.AccessoryDescriptions, new { @size = 5 })                        
                    </fieldset>
                    <fieldset class="span3">
                        <label>Team</label>
                        @Html.DropDownListFor(m => m.SearchModel.TeamId, Model.Teams, new { @size = 5 })
                    </fieldset>
                </div>
                <div class="row-fluid">
                    <fieldset class="span3">
                        <label for="SearchFilter_TownID">Town</label>
                        @Html.DropDownListFor(m => m.SearchModel.TownId, Model.Towns, new { @size = 5 })
                    </fieldset>
                    <fieldset class="span3">
                        <label>Device OS</label>
                        @Html.DropDownListFor(m => m.SearchModel.OsId, Model.OSs, new { @size = 5 })
                    </fieldset>
                    <fieldset class="span3">
                        <label>Color</label>
                        @Html.DropDownListFor(m => m.SearchModel.ColorId, Model.Colors, new { @size = 5 })
                    </fieldset>
                </div>
                <div class="row-fluid">
                </div>
                <div class="row-fluid">
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave">Search</button>
                        <button type="button" class="btn" id="btnClear">Clear filter</button>
                    </div>
                </div>
            }
        </div>
    </div>

    @if (Model.Accessories.Count() == 0)
    {
        @:No accessories found.
    }
    else
    {
        <div id="accessoryGrid">
            @Html.Partial("_AccessoryGrid", Model)
        </div>
        @*<div id="divicesGidAjaxContainer" style="border-width:5px; border-color:red; border-style:solid;">
            <table id="divicesGidAjax"></table>
        </div>*@
    }
    <h4>Total Accessories Count: @Model.TotalNumberOfDevices</h4>
</div>