@model DeviceMate.Web.Models.DeviceHistoryModel
@{
    bool isNumberColumnVisible = Model.ColumnSelector.IsColumnVisible("#");
    bool isModelColumnVisible = Model.ColumnSelector.IsColumnVisible("Model");
    bool isNameColumnVisible = Model.ColumnSelector.IsColumnVisible("Name");
    bool isTypeColumnVisible = Model.ColumnSelector.IsColumnVisible("Type");
    bool isOsColumnVisible = Model.ColumnSelector.IsColumnVisible("OS");
    bool isOsVersionColumnVisible = Model.ColumnSelector.IsColumnVisible("OS Version");
    bool isTeamColumnVisible = Model.ColumnSelector.IsColumnVisible("Team");
    bool isHolderColumnVisible = Model.ColumnSelector.IsColumnVisible("Holder");
    bool isAvailabilityColumnVisible = Model.ColumnSelector.IsColumnVisible("Availability");
    bool isTownColumnVisible = Model.ColumnSelector.IsColumnVisible("Town");
    bool isHoldTimeColumnVisible = Model.ColumnSelector.IsColumnVisible("Hold Time");
}

<h4> Devices Count: @Model.DeviceHistories.GroupBy(itm => itm.DeviceId).Count()</h4>
@Html.Partial("_GridHeader", Model)
<div class="table-responsive" style="overflow: auto">
    <table id="search-table" class="table table-striped table-bordered"
           data-employees-default-picture="@Url.Content("/Content/images/mentormate-logo.png")"
           data-employees-extra-data-url="@Url.Action("Index", "Employee")">
        <thead>
            <tr>
                @if (isNumberColumnVisible)
                {
                    <th data-sort-column="Device.Number" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "Device.Number"}})>#<sup></sup></th>
                }
                @if (isModelColumnVisible)
                {
                    <th data-sort-column="Device.Model.Name" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "Device.Model.Name"}})>Model<sup></sup></th>
                }
                @if (isNameColumnVisible)
                {
                    <th data-sort-column="Device.Name" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "Device.Name"}})>Name<sup></sup></th>
                }
                @if (isTypeColumnVisible)
                {
                    <th data-sort-column="Device.DeviceType.Name" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "Device.DeviceType.Name"}})>Type<sup></sup></th>
                }
                @if (isOsColumnVisible)
                {
                    <th data-sort-column="Device.Model.Manufacturer.OSs.Name" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "Device.Model.Manufacturer.OSs.Name"}})>OS<sup></sup></th>
                }
                @if (isOsVersionColumnVisible)
                {
                    <th data-sort-column="Device.OsVersion" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "Device.OsVersion"}})>OS Version<sup></sup></th>
                }
                @if (isTeamColumnVisible)
                {
                    <th data-sort-column="Team.Name" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "Team.Name"}})>Team<sup></sup></th>
                }
                @if (isHolderColumnVisible)
                {
                    <th data-sort-column="Email" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "Email"}})>Holder<sup></sup></th>
                }
                @if (isAvailabilityColumnVisible)
                {
                    <th data-sort-column="Device.Hold.IsBusy" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "Device.Hold.IsBusy"}})>Availability<sup></sup></th>
                }
                @if (isTownColumnVisible)
                {
                    <th data-sort-column="Town.Name" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "Town.Name"}})>Town<sup></sup></th>
                }
                @if (isHoldTimeColumnVisible)
                {
                    <th data-sort-column="HoldDate" @Html.Partial("_SortBackgroundImageStyle", Model.Sorter, new ViewDataDictionary {{"Column", "HoldDate"}})>Hold<br />Time<sup></sup></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var devHistory in Model.DeviceHistories)
            {
                var dev = devHistory.Device;
                <tr data-itemid="@dev.Id" class=@(dev.Hold.IsBusy == false ? "red-color" : "")>
                    @if (isNumberColumnVisible)
                    {
                        <td>@dev.Number</td>
                    }
                    @if (isModelColumnVisible)
                    {
                        <td>@dev.Model.Name</td>
                    }
                    @if (isNameColumnVisible)
                    {
                        <td>@dev.Name</td>
                    }
                    @if (isTypeColumnVisible)
                    {
                        <td>@dev.DeviceType.Name</td>
                    }
                    @if (isOsColumnVisible)
                    {
                        <td>@(dev.Model != null && dev.Model.Manufacturer != null && dev.Model.Manufacturer.OSs != null ? dev.Model.Manufacturer.OSs.Name : string.Empty)</td>
                    }
                    @if (isOsVersionColumnVisible)
                    {
                        <td>@dev.OsVersion</td>
                    }
                    @if (isTeamColumnVisible)
                    {
                        <td>@devHistory.Team.Name</td>
                    }
                    @if (isHolderColumnVisible)
                    {
                        <td class="td-email" title="Information Not Available">
                            <span class="email-text">@devHistory.Email</span>
                        </td>
                    }
                    @if (isAvailabilityColumnVisible)
                    {
                         if (dev.Hold.IsBusy)
                         {
                             <td style="color: red">Unavailable</td>
                         }
                         else
                         {
                             <td style="color: green">Available</td>
                         }
                    }
                    @if (isTownColumnVisible)
                    {
                        <td>@devHistory.Town.Name</td>
                    }
                    @if (isHoldTimeColumnVisible)
                    {
                        <td>@devHistory.HoldDate</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.Partial("_Pagination", Model.Pager)

